.btn-Sefa {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-Peacock {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-headhunterz {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.btn-banner {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-dsturb {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-aor {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-rooler {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-angerfist {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.btn-Headhunterz {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
.btn-warface {
	background-color: #464545;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}